                                                         /*CONTAINER---COMÚN*/
.container {
  width: 80vw;
  background-size: contain;
  color: rgb(66, 66, 66);
}

                                                        /*HEADER-----COMÚN*/
/*iconos del header*/
header {
  position: -webkit-sticky;
  position: sticky;
  border-bottom: 1px solid #ba9e3857;
  z-index: 3;
  background-color: rgb(255, 255, 255);
  top: 0;
  width: 100%;
  margin-bottom: 8vw ;
}
#logo_menu {
  margin-right: 0px;
  margin-left: 0px;
}
#icon {
  margin-right: 0px;
  margin-left: 0px;
}
#iconos i {
  border: none;
  box-shadow: none;
  background-color: white;
  margin-top: 1.5%;
  font-size: 140%;
  padding: 0.5vw;
  border-radius: 50%;
  background-color: #e6ebf0;
}
#iconos {
  text-align: right;
  padding-right: 2vw;
}

#login {
  margin-left: 7%;
}
#buscar {
  margin-left: 7%;
}
#buscar:hover {
  cursor: pointer;
  background-color: #ba9e38;
  color: white;
}
#carrito:hover {
  cursor: pointer;
  background-color: #ba9e38;
  color: white;
}

#login:hover {
  cursor: pointer;
  background-color: #ba9e38;
  color: white;
}
/*logo del header*/
#logo {
  width: 100%;
  height: 100%;
  background-color: white;
}
#logo1 {
  background-color: white;
  border: none;
  box-shadow: none;
  margin-bottom: 2%;
}
/* MENÚ NAV INTEGRADO EN EL HEADER */
a {
  text-decoration: none !important;
  padding-bottom: 4px;
  color: rgb(66, 66, 66);
  transition: 0.3s;
}
#logo_menu {
  width: 80vw;
}
a:hover {
  color: rgb(66, 66, 66);
}
ul {
  list-style: none;
  width: 100%;
  padding: 0px;
}
#menu {
  margin-top: 3.5%;
  background-color: white;
  border: none;
  box-shadow: none;
  font-size: 0.95vw;
  padding: 0px;
}
li {
  background-image: linear-gradient(#ba9e38, #ba9e38);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.3s;
  display: inline;
  margin-left: 1.3vw;
  padding-bottom: 4px;
}
li:hover,
li:focus {
  background-size: 100% 2px;
}
#contacto {
  background-image: linear-gradient(#ba9e38, #ba9e38);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 100% 2px;
  transition: background-size 0.3s;
}
li:hover {
  cursor: pointer;
}
                                              /*SECTION*/
/*Texto envianos tu consulta*/
#div1_1{
  
  font-size: 270%;
  text-transform: uppercase;
  color: rgb(66, 66, 66);
  font-weight:bolder;
  text-align: center;
  letter-spacing: 0.3vw;
  padding-top: 1vw;
}
/*Texto descriptivo de envianos tu consulta*/
#div1_2{
  
  color: rgb(66, 66, 66);
  
  font-size: 28px;
  text-align: center;
  margin-bottom: 8vw;
  
}
/*Caja botones*/

#div2_1{
  
  text-align: center;
  
}

/*Botones*/
#div2_1 div{
  padding: 1%;
  background-color: #8095a1;  
  margin-left: 4%;
  font-size: 130%;
  border-radius: 7px;
  font-weight: bolder;
  display: inline-block;
  color: white;
  margin-bottom: 4%;
}
#div2_1 div:hover{
  background-color: #ba9e38;
  
}
/*Texto consulta y soporte*/
#div3_1 {
 
  
  font-size: 240%;
  text-transform: uppercase;
  color: rgb(66, 66, 66);
  font-weight:bolder;
  
  letter-spacing: 0.3vw;
  
  
}
/*Texto introduce tus datos*/
#div3_2{
  
  color: rgb(66, 66, 66);
  
  font-size: 180%;
  
  margin-bottom: 2.5vw;
}

#div4_2{
 
  background: content-box;
  padding-left: 0px !important;
  padding-right: 0px !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
}
#div4_2 img{
  width: 100%;
  
  background: no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-left: 0px !important;
  text-align: center;
  display: inline-block;
  margin-bottom: 4%;  
}
.camposdorados{
  width: 100%;
  border: 5px solid #ba9e38;
  border-radius: 8px;
  height: 50px;
  padding-left: 2vw;
  margin-left: 0px !important;
}
.camposdorados input[type="text"]:active {
  box-shadow: none !important;
}
textarea{
  width: 100%;
  border: 5px solid #ba9e38;
  border-radius: 8px;
  padding-left: 2vw;
  resize: none;
}

.parte_central article{
  margin-left: 0px;
  margin-right: 0px;
}


span{
  margin-left: 1%;
  font-size: 130%;
}
span a{
  text-decoration:2px #3F4A56 underline  !important ;
  margin-right: 24%;
}
span a:hover{
  font-weight: bolder;
}
#enviar{
  background-color: #8095a1;
  color: white;
  border: none;
  box-shadow: none;
  font-size: 110%;
  padding: 9px;
  width: 23%;
  font-weight: bolder;
  border-radius: 7px;
  margin-bottom: 2%;
  
}
#enviar:hover{
  background-color: #ba9e38;
}
.squaredFour {
  width: 20px;  
  margin: 20px auto;
  position: relative;
  display: inline-block;
  margin-right: 4%;
}

.squaredFour label {
  cursor: pointer;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  left: 20px;
  border-radius: 4px;
  
  
  -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px #3F4A56;
  -moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px #3F4A56;
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px #3F4A56;
  background: #ffffff;

  
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
}

.squaredFour label:hover{
  -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px #ba9e38;
  -moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px #ba9e38;
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px #ba9e38;
}


.squaredFour label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  content: '';
  position: absolute;
  width: 10px;
  height: 7px;
  background: transparent;
  top: 4px;
  left: 4px;
  border: 3px solid #181D2C;
  border-top: none;
  border-right: none;

  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.squaredFour label:hover::after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
  opacity: 0;
  
}

.squaredFour input[type=checkbox]:checked + label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
  
  
}
input[type=checkbox] {
  visibility: hidden;
}
#div5_1{
  font-size: 180%;
  text-transform: uppercase;
  color: rgb(66, 66, 66);
  font-weight:bolder;
  text-align: center;
  letter-spacing: 0.2vw;
  padding-top: 10%;
}
.texto1{
  font-style: italic;
}
#div5_3{
  border-left: 3px solid #ba9e38;
  
}
#div5_3 div{
  height: 30%;
  width: auto;
  
}
#div5_3 div .texto{
  float: right;
  width: 75%;
  font-size: 115%;
  text-align: justify;
  padding-top: 1%;
}
#div5_3 div .icono{
  
  width: 25%;
  color: #ba9e38;
  text-align: left;
  font-size: 170%;
  height: 200px !important;
  display: inline-block
}





                           /*EFECTO BOLAS Y LINEA HR--------COMÚN*/
hr {
  display: none;
}
.bola {
  background-color: #ba9e38;
  border-radius: 100%;
  margin-right: 0.8%;
  margin-top: 4%;
  display: inline-block;
}
#bolitas {
  text-align: center;
  margin-bottom: 3vw;
}
#bola1 {
  width: 7px;
  height: 7px;
}
#bola2 {
  width: 8px;
  height: 8px;
}
#bola3 {
  width: 9px;
  height: 9px;
}
#bola4 {
  width: 10px;
  height: 10px;
}
#bola5 {
  width: 11px;
  height: 11px;
}
#bola6 {
  width: 12px;
  height: 12px;
}
#bola7 {
  width: 13px;
  height: 13px;
}
#bola8 {
  width: 14px;
  height: 14px;
}
#bola9 {
  width: 15px;
  height: 15px;
}
#bola10 {
  width: 16px;
  height: 16px;
}
#bola11 {
  width: 17px;
  height: 17px;
}
#bola12 {
  width: 18px;
  height: 18px;
}
#bola13 {
  width: 19px;
  height: 19px;
}
#bola14 {
  width: 20px;
  height: 20px;
}
#bola15 {
  width: 19px;
  height: 19px;
}
#bola16 {
  width: 18px;
  height: 18px;
}
#bola17 {
  width: 17px;
  height: 17px;
}
#bola18 {
  width: 16px;
  height: 16px;
}
#bola19 {
  width: 15px;
  height: 15px;
}
#bola20 {
  width: 14px;
  height: 14px;
}
#bola21 {
  width: 13px;
  height: 13px;
}
#bola22 {
  width: 12px;
  height: 12px;
}
#bola23 {
  width: 11px;
  height: 11px;
}
#bola24 {
  width: 10px;
  height: 10px;
}
#bola25 {
  width: 9px;
  height: 9px;
}
#bola26 {
  width: 8px;
  height: 8px;
}
#bola27 {
  width: 7px;
  height: 7px;
}

                                                /*FOOTER-------------COMÚN*/
footer {
  background-color: rgb(69, 83, 88) !important;
  border: none;
  box-shadow: none;
  color: white;
}
/*logo adventure negativo*/
#adventure img {
  width: 110%;
  height: 10%;
}
#adventure {
  margin-left: 0px;
  margin-top: 4vw;
  width: 35vw;
  padding: 0px !important;
}
/*texto contacto parte derecha*/
#texto_footer {
  text-align: right;
  margin-right: 15px;
  margin-top: 5vw;
  margin-left: 15px;
}
#texto_footer p {
  font-size: 0.8vw;
}
#contacto_footer {
  margin-left: 4px;
  margin-top: 0.5vw;
  border-left: 4px solid #ba9e38;
  padding-left: 2vw;
  font-size: 0.8vw;
  padding-top: 1.5vw;
}
#contacto_footer div {
  line-height: 6px;
}
#dire {
  margin-bottom: 4.2vw;
}
#email {
  margin-bottom: 4.2vw;
}
.texto_contacto {
  color: #ba9e38;
  font-weight: bolder;
}
/*iconos publicitarios*/
#publi {
  text-align: center;
}
a #oneill {
  width: 7vw;
  height: 9vw;
  margin-right: 1vw;
  padding: 0px !important;
}
a #columbia {
  width: 10vw;
  height: 4vw;
  margin-right: 1vw;
  padding: 0px !important;
}
a #escapada {
  width: 9vw;
  height: 3vw;
  margin-right: 1vw;
  padding: 0px !important;
}
a #esportiva {
  width: 9vw;
  height: 5vw;
  margin-right: 1vw;
  padding: 0px !important;
}
a #decathlon {
  width: 10vw;
  height: 6vw;
  margin-right: 1vw;
  padding: 0px !important;
}
a #restaurante {
  width: 9vw;
  height: 6vw;
  margin-right: 1vw;
  padding: 0px !important;
}
/*menos separación superior e inferior en el efecto bolitas*/
.bola_footer {
  background-color: #ba9e38;
  border-radius: 100%;
  margin-right: 0.8%;
  margin-top: 1%;
  display: inline-block;
}
#bolitas_footer {
  text-align: center;
  margin-bottom: 1vw;
}
/*texto e iconos de redes sociales*/
#redes i:hover {
  background-color: rgb(69, 83, 88);
  color: #ba9e38;
}
#redes p {
  display: inline-block;
  font-size: 1.3vw;
  margin-right: 2vw;
}
#redes i {
  color: #ffffff;
  font-size: 2vw;
  margin-right: 1.5vw;
  padding: 0.5vw;
  border-radius: 10px;
  background-color: #ba9e38;
}
#face {
  padding-left: 1vw !important;
  padding-right: 1vw !important;
}
#redes {
  text-align: center;
}

/*enlaces finales de acceso a recursos privacidad, legal cookies*/
#privacidad {
  margin: auto;
  text-align: center;
}
#privacidad a {
  text-decoration: underline !important;
  padding-bottom: 4px;
  color: white !important;
  transition: 0.3s;
  font-size: 1.2vw;
}
#privacidad a:hover {
  font-weight: bolder;
  color: #ba9e38 !important;
}
                                                        /*MEDIA QUERIES*/
/* Entre 1200px y 1630 px*/

@media only screen and (min-width: 1200px) and (max-width: 1630px) {
                                /*menú ------------común*/
  #menu {
    padding: 0px !important;
    font-size: 1vw;
    margin-bottom: 10px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }
  #logo_menu {
    width: 80vw !important;
  }
  #home {
    margin-left: 0px !important;
  }
  ul {
    padding: 0px !important;
    margin-right: 0px !important;
    padding-right: 0px !important;
  }
                                 /*FOOTER---COMÚN*/
  #contacto_footer {
    font-size: 1.2vw;
  }
  #texto_footer {
    text-align: right;
    margin-right: 12px;
    margin-top: 5vw;
    margin-left: 32px;
  }
  #texto_footer p {
    font-size: 1.2vw !important;
  }
}

/* De 1200 px hacia abajo */

@media only screen and (max-width: 1200px) {
                         /*CONTAINER------COMÚN*/
  .container {
    width: 86vw;
    background-size: contain;
  }
                     /*MENÚ NAV INTEGRADO EN HEADER---------COMÚN*/
  #menu {
    width: 100% !important;
    padding: 0px !important;
    text-align: center;
    font-size: 1.5vw;
    margin-bottom: 10px;
    font-weight: bolder;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }
  #logo {
    width: 100%;
  }
  #logo1 {
    width: 100%;
  }
  #home {
    margin-left: 0px !important;
  }
  ul {
    padding: 0px !important;
  }
  #iconos i {
    font-size: 2vw;
    padding: 1vw;
  }
  li {
    margin-left: 6px !important;
  }
                                        /*FOOTER------COMÚN-----*/
  #texto_footer {
    text-align: right;
    margin-right: 15px;
    margin-top: 5vw;
    margin-left: 40px;
  }
  #texto_footer p {
    font-size: 1.3vw !important;
  }
  #contacto_footer {
    font-size: 12px !important;
  }
}

/* Entre 360px y 737px (tamaño pequeño para móviles) */

@media only screen and (min-width: 360px) and (max-width: 737px) {
                                        /*menú-NAV----COMÚN-------*/
  #menu {
    font-size: 1.5vw;
  }
  ol {
    margin-bottom: 0px;
    padding-bottom: 0px;
    bottom: 0px !important;
  }
                                        /*EFECTO BOLAS--------COMÚN*/
  .bola {
    background-color: #ba9e38;
    border-radius: 100%;
    margin-right: 0.8%;
    margin-top: 4%;
    display: inline-block;
  }
  #bolitas {
    text-align: center;
    margin-bottom: 3vw;
  }
  #bola1 {
    width: 7px;
    height: 7px;
    margin-left: 4vw;
  }
  #bola2 {
    width: 7px;
    height: 7px;
  }
  #bola3 {
    width: 7px;
    height: 7px;
  }
  #bola4 {
    width: 7px;
    height: 7px;
  }
  #bola5 {
    width: 7px;
    height: 7px;
  }
  #bola6 {
    width: 7px;
    height: 7px;
  }
  #bola7 {
    width: 7px;
    height: 7px;
  }
  #bola8 {
    width: 7px;
    height: 7px;
  }
  #bola9 {
    width: 7px;
    height: 7px;
  }
  #bola10 {
    width: 7px;
    height: 7px;
  }
  #bola11 {
    width: 7px;
    height: 7px;
  }
  #bola12 {
    width: 7px;
    height: 7px;
  }
  #bola13 {
    width: 7px;
    height: 7px;
  }
  #bola14 {
    width: 7px;
    height: 7px;
  }
  #bola15 {
    width: 7px;
    height: 7px;
  }
  #bola16 {
    width: 7px;
    height: 7px;
  }
  #bola17 {
    width: 7px;
    height: 7px;
  }
  #bola18 {
    width: 7px;
    height: 7px;
  }
  #bola19 {
    width: 7px;
    height: 7px;
  }
  #bola20 {
    width: 7px;
    height: 7px;
  }
  #bola21 {
    width: 7px;
    height: 7px;
  }
  #bola22 {
    width: 7px;
    height: 7px;
  }
  #bola23 {
    width: 7px;
    height: 7px;
  }
  #bola24 {
    width: 7px;
    height: 7px;
  }
  #bola25 {
    width: 7px;
    height: 7px;
  }
  #bola26 {
    width: 7px;
    height: 7px;
  }
  #bola27 {
    width: 7px;
    height: 7px;
  }
                                        /*SECTION*/
  #div3_1 {
  text-align: center;
  }
  .squaredFour {
    
    margin-right: 7%;
}
span a {
  
  margin-right: 7%;
}
#enviar {
  background-color: #8095a1;
  color: white;
  border: none;
  box-shadow: none;
  font-size: 100%;
  padding: 7px;
  width: 68px;
  font-weight: bolder;
  border-radius: 7px;
  margin-bottom: 2%;
  margin-left: 38%;
}
                                             /*FOOTER -----COMÚN*/
  #email p {
    margin: 0px;
  }
  #dire p {
    margin: 0px;
  }
  #contacto_footer div p {
    margin: 0px;
  }
  #adventure {
    margin-left: 0px;
    margin-top: 10vw;
    width: 38vw;
    padding: 0px !important;
  }
  #adventure img {
    width: 100%;
    height: 12%;
  }
  #texto_footer {
    text-align: right;
    margin-right: 17px;
    margin-top: 3vw;
    margin-left: 52px;
  }
  #texto_footer p {
    font-size: 10px !important;
  }
  #contacto_footer {
    font-size: 10px !important;
    margin-left: 69px;
    margin-top: 0.5vw;
    border-left: 4px solid #ba9e38;
    padding-left: 2vw;
    font-size: 0.8vw;
    padding-top: 1.5vw;
  }
  #contacto_footer div {
    line-height: 11px;
  }
  #dire {
    margin-bottom: 4.2vw;
  }
}

/* Entre 360px y 500px (tamaño pequeño para móviles) */

@media only screen and (min-width: 360px) and (max-width: 500px) {
                                     /*EFECTO BOLAS--------COMÚN*/
  .bola {
    width: 0px !important;
    height: 0px !important;
    background-color: #ba9e38;
    border-radius: 100%;
    margin-right: 0px !important;
    margin-top: 0px !important;
    display: inline-block;
  }
  #bola1 {
    width: 0px !important;
    height: 0px !important;
    margin-left: 0px !important;
  }
  .bola_footer {
    width: 0px !important;
    height: 0px !important;
    background-color: #ba9e38;
    border-radius: 100%;
    margin-right: 0px !important;
    margin-top: 0px !important;
    display: inline-block;
  }
  #bolitas_footer {
    text-align: center;
    margin-bottom: -8vw;
  }
  #bolitas {
    text-align: center;
    margin-bottom: -5vw;
  }
                                /*FOOTER------COMÚN*/
  hr {
    display: block;
    background-color: #ba9e38;
  }
  #contacto_footer {
    font-size: 10px !important;
    margin-left: 40px;
    margin-top: 0.5vw;
    border-left: 2px solid #ba9e38;
    padding-left: 2vw;
    font-size: 0.8vw;
    padding-top: 1.5vw;
  }
  #texto_footer {
    text-align: right;
    margin-right: 17px;
    margin-top: 3vw;
    margin-left: 24px;
  }
}
