/* Made with love by Mutiullah Samim*/

@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
width: 100vw;
}

.container{
height: 100%;
align-content: center;

  background-size: contain;
  color: rgb(66, 66, 66);

}

                                                        /*HEADER-----COMÚN*/
/*iconos del header*/
header {
  position: -webkit-sticky;
  position: sticky;
  border-bottom: 1px solid #ba9e3857;
  z-index: 3;
  background-color: rgba(255, 255, 255, 0);
  top: 0;
  width: 100%;
  margin-bottom: 4vw ;
}
#logo_menu {
  margin-right: 0px;
  margin-left: 0px;
}
#icon {
  margin-right: 0px;
  margin-left: 0px;
}
#iconos i {
  border: none;
  box-shadow: none;
  background-color: rgba(255, 255, 255, 0);
  margin-top: 1.5%;
  font-size: 140%;
  padding: 0.5vw;
  border-radius: 50%;
  background-color: #e6ebf000;
  color: #ba9e38;
}
#iconos {
  text-align: right;
  padding-right: 2vw;
}

#login {
  margin-left: 7%;
}
#buscar {
  margin-left: 7%;
}
#buscar:hover {
  cursor: pointer;
  background-color: #ba9e38;
  color: white;
}
#carrito:hover {
  cursor: pointer;
  background-color: #ba9e38;
  color: white;
}

#login:hover {
  cursor: pointer;
  background-color: #ba9e38;
  color: white;
}
/*logo del header*/
#logo {
  width: 100%;
  height: 30%;
  background-color: rgba(255, 255, 255, 0);
}
#logo1 {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  box-shadow: none;
  margin-bottom: 2%;
  height: 50%;
}
/* MENÚ NAV INTEGRADO EN EL HEADER */
a {
  text-decoration: none !important;
  padding-bottom: 4px;
  color: rgb(66, 66, 66);
  transition: 0.3s;
}
#logo_menu {
  width: 80vw;
}
a:hover {
  color: rgb(66, 66, 66);
}
ul {
  list-style: none;
  width: 100%;
  padding: 0px;
}
#menu {
  margin-top: 3.5%;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  box-shadow: none;
  font-size: 0.95vw;
  padding: 0px;
}
li {
  background-image: linear-gradient(#ba9e38, #ba9e38);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.3s;
  display: inline;
  margin-left: 1.3vw;
  padding-bottom: 4px;
}
li:hover,
li:focus {
  background-size: 100% 2px;
}
#contacto {
  background-image: linear-gradient(#ba9e38, #ba9e38);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 100% 2px;
  transition: background-size 0.3s;
}
li:hover {
  cursor: pointer;
}
                            /*EFECTO BOLAS Y LINEA HR--------COMÚN*/
hr {
  display: none;
}
.bola {
  background-color: #ba9e38;
  border-radius: 100%;
  margin-right: 0.8%;
  margin-top: 4%;
  display: inline-block;
}
#bolitas {
  text-align: center;
  margin-bottom: 3vw;
}
#bola1 {
  width: 7px;
  height: 7px;
}
#bola2 {
  width: 8px;
  height: 8px;
}
#bola3 {
  width: 9px;
  height: 9px;
}
#bola4 {
  width: 10px;
  height: 10px;
}
#bola5 {
  width: 11px;
  height: 11px;
}
#bola6 {
  width: 12px;
  height: 12px;
}
#bola7 {
  width: 13px;
  height: 13px;
}
#bola8 {
  width: 14px;
  height: 14px;
}
#bola9 {
  width: 15px;
  height: 15px;
}
#bola10 {
  width: 16px;
  height: 16px;
}
#bola11 {
  width: 17px;
  height: 17px;
}
#bola12 {
  width: 18px;
  height: 18px;
}
#bola13 {
  width: 19px;
  height: 19px;
}
#bola14 {
  width: 20px;
  height: 20px;
}
#bola15 {
  width: 19px;
  height: 19px;
}
#bola16 {
  width: 18px;
  height: 18px;
}
#bola17 {
  width: 17px;
  height: 17px;
}
#bola18 {
  width: 16px;
  height: 16px;
}
#bola19 {
  width: 15px;
  height: 15px;
}
#bola20 {
  width: 14px;
  height: 14px;
}
#bola21 {
  width: 13px;
  height: 13px;
}
#bola22 {
  width: 12px;
  height: 12px;
}
#bola23 {
  width: 11px;
  height: 11px;
}
#bola24 {
  width: 10px;
  height: 10px;
}
#bola25 {
  width: 9px;
  height: 9px;
}
#bola26 {
  width: 8px;
  height: 8px;
}
#bola27 {
  width: 7px;
  height: 7px;
}

                                                /*FOOTER-------------COMÚN*/
footer {
  background-color: rgb(69, 83, 88) !important;
  border: none;
  box-shadow: none;
  color: white;
}
/*logo adventure negativo*/
#adventure img {
  width: 110%;
  height: 10%;
}
#adventure {
  margin-left: 0px;
  margin-top: 4vw;
  width: 35vw;
  padding: 0px !important;
}
/*texto contacto parte derecha*/
#texto_footer {
  text-align: right;
  margin-right: 15px;
  margin-top: 5vw;
  margin-left: 15px;
}
#texto_footer p {
  font-size: 0.8vw;
}
#contacto_footer {
  margin-left: 4px;
  margin-top: 0.5vw;
  border-left: 4px solid #ba9e38;
  padding-left: 2vw;
  font-size: 0.8vw;
  padding-top: 1.5vw;
}
#contacto_footer div {
  line-height: 6px;
}
#dire {
  margin-bottom: 4.2vw;
}
#email {
  margin-bottom: 4.2vw;
}
.texto_contacto {
  color: #ba9e38;
  font-weight: bolder;
}
/*iconos publicitarios*/
#publi {
  text-align: center;
}
a #oneill {
  width: 7vw;
  height: 9vw;
  margin-right: 1vw;
  padding: 0px !important;
}
a #columbia {
  width: 10vw;
  height: 4vw;
  margin-right: 1vw;
  padding: 0px !important;
}
a #escapada {
  width: 9vw;
  height: 3vw;
  margin-right: 1vw;
  padding: 0px !important;
}
a #esportiva {
  width: 9vw;
  height: 5vw;
  margin-right: 1vw;
  padding: 0px !important;
}
a #decathlon {
  width: 10vw;
  height: 6vw;
  margin-right: 1vw;
  padding: 0px !important;
}
a #restaurante {
  width: 9vw;
  height: 6vw;
  margin-right: 1vw;
  padding: 0px !important;
}
/*menos separación superior e inferior en el efecto bolitas*/
.bola_footer {
  background-color: #ba9e38;
  border-radius: 100%;
  margin-right: 0.8%;
  margin-top: 1%;
  display: inline-block;
}
#bolitas_footer {
  text-align: center;
  margin-bottom: 1vw;
}
/*texto e iconos de redes sociales*/
#redes i:hover {
  background-color: rgb(69, 83, 88);
  color: #ba9e38;
}
#redes p {
  display: inline-block;
  font-size: 1.3vw;
  margin-right: 2vw;
}
#redes i {
  color: #ffffff;
  font-size: 2vw;
  margin-right: 1.5vw;
  padding: 0.5vw;
  border-radius: 10px;
  background-color: #ba9e38;
}
#face {
  padding-left: 1vw !important;
  padding-right: 1vw !important;
}
#redes {
  text-align: center;
}

/*enlaces finales de acceso a recursos privacidad, legal cookies*/
#privacidad {
  margin: auto;
  text-align: center;
}
#privacidad a {
  text-decoration: underline !important;
  padding-bottom: 4px;
  color: white !important;
  transition: 0.3s;
  font-size: 1.2vw;
}
#privacidad a:hover {
  font-weight: bolder;
  color: #ba9e38 !important;
}
.card{
height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #FFC312;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: #FFC312;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #FFC312;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}