
.container,.carousel, .carousel-inner{
    width: 80vw;
    height: 40%;
    background-size: contain;
    
}
.container{
    margin-top: 1%;
    
}
.item img {
    width: 100%;
    height: 40vh;
    max-height: 40vh;
    
  }

#search{
    width: 40px;
    height: 40px;
    background-color: rgb(226, 226, 226);
    padding-top: 0.7%;
    padding-left: 0.7%;
    border-radius: 50%;
    position: absolute;
    top: 2%;
    left: 70%;
}
#search:hover{
    cursor: pointer;
    background-color: white;
}
#carrito:hover{
    cursor: pointer;
    background-color: white;

}
#login:hover{
    cursor: pointer;
    background-color: white;

}
#carrito{
    width: 40px;
    height: 40px;
    background-color: rgb(226, 226, 226);
    padding-top: 0.7%;
    padding-left: 0.7%;
    border-radius: 50%;
    position: absolute;
    top: 2%;
    left: 80%;
}
#login{
    width: 40px;
    height: 40px;
    background-color: rgb(226, 226, 226);
    padding-top: 0.7%;
    padding-left: 0.7%;
    border-radius: 50%;
    position: absolute;
    top: 2%;
    left: 75%;
}
#logo{
    width: 30%;
    height: 10%;
    margin-left: 11%;
}
a{
    text-decoration: none !important;
    padding-bottom: 4px;
    color: rgb(66, 66, 66);
    transition: 0.3s;
}
a:hover{
    color: rgb(66, 66, 66);
}
ul{
    list-style: none;
    margin-bottom: 1%;
    margin-left: 1%;
    position: absolute;
    top: 10%;
    right: 10%;
    padding-bottom: 4px;
}


li {
    background-image: linear-gradient(#BA9E38,#BA9E38);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
    display: inline;
    margin-left: 15px;
    padding-bottom: 4px;
}

li:hover, li:focus {
    background-size: 100% 2px;
}
 #packs{
    background-image: linear-gradient(#BA9E38,#BA9E38);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 100% 2px;
    transition: background-size .3s;
}
li:hover{
    cursor: pointer;
}
#linea{
    width: 6px;
    background-color: #BA9E38;
    height: 100vh;
    position: absolute;
    top: 16%;
    right: 6%;
}
#circulo{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border:4px solid #BA9E38;
    position: absolute;
    top: 13%;
    right: 5.45%;
}
header{
    margin-top: 2%;
    margin-bottom: 2%;
}
.carousel-caption{
    margin-left: 40%;
    margin-bottom: 6%;
}
#texto{
    margin: auto;
    text-align: center;
    margin-top: 2%;
    width: 40%;
}
.bola{
    background-color: #BA9E38;
    border-radius: 100%;
    margin-right: 0.8%;
    margin-top: 4%;
    display: inline-block;
}
#bola1{
    width: 7px;
    height: 7px;
    margin-left: 27%;
}
#bola2{
    width: 8px;
    height: 8px;
}
#bola3{
    width: 9px;
    height: 9px;

}
#bola4{
    width: 10px;
    height: 10px;

}
#bola5{
    width: 11px;
    height: 11px;

}
#bola6{
    width: 12px;
    height: 12px;

}
#bola7{
    width: 13px;
    height: 13px;

}
#bola8{
    width: 14px;
    height: 14px;

}
#bola9{
    width: 15px;
    height: 15px;

}
#bola10{
    width: 16px;
    height: 16px;

}
#bola11{
    width: 17px;
    height: 17px;

}
#bola12{
    width: 18px;
    height: 18px;

}
#bola13{
    width: 19px;
    height: 19px;

}
#bola14{
    width: 20px;
    height: 20px;

}
#bola15{
    width: 19px;
    height: 19px;

}
#bola16{
    width: 18px;
    height: 18px;

}
#bola17{
    width: 17px;
    height: 17px;

}
#bola18{
    width: 16px;
    height: 16px;

}
#bola19{
    width: 15px;
    height: 15px;

}
#bola20{
    width: 14px;
    height: 14px;

}
#bola21{
    width: 13px;
    height: 13px;

}
#bola22{
    width: 12px;
    height: 12px;

}
#bola23{
    width: 11px;
    height: 11px;

}
#bola24{
    width: 10px;
    height: 10px;

}
#bola25{
    width: 9px;
    height: 9px;

}
#bola26{
    width: 8px;
    height: 8px;

}
#bola27{
    width: 7px;
    height: 7px;

}
